@import "skins.scss";

.tabs {
  --paper-tabs-selection-bar-color: var(--app-primary-color);
}

.show-descriptions {
  float: right;
  margin: 0.5rem;
}

// TODO: Move legend to separate component
.legend {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.legend__table {
  @extend .table-skin;
}
.legend__td--operator {
  @extend .td-skin;
  @extend .operator-skin;
}
.legend__td--motion {
  @extend .td-skin;
  @extend .motion-skin;
}
.legend__td--command {
  @extend .td-skin;
  @extend .command-skin;
}
.legend__td--extended {
  @extend .td-skin;
  @extend .extended-skin;
}
.legend__td--other {
  @extend .td-skin;
  @extend .other-skin;
}
.legend__td--unused {
  @extend .td-skin;
  @extend .unused-skin;
}
