// Re-usable skins

.table-skin {
  border-collapse: collapse;
}

.td-skin {
  border: 1px solid #333333;
  color: #333333;
  padding: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.operator-skin {
  // background-color: #44CFCB;
  background-color: #b19cd9;
}
.motion-skin {
  background-color: #56CBF9;
}
.command-skin {
  background-color: #F0F3BD;
}
.extended-skin {
  background-color: #98FB98;
}
.unused-skin {
  background-color: #eeeeee;
}

// Components
.legend {
  margin-bottom: 1em;
}
.legend__table {
  @extend .table-skin;
}
.legend__td--operator {
  @extend .td-skin;
  @extend .operator-skin;
}
.legend__td--motion {
  @extend .td-skin;
  @extend .motion-skin;
}
.legend__td--command {
  @extend .td-skin;
  @extend .command-skin;
}
.legend__td--unused {
  @extend .td-skin;
  @extend .unused-skin;
}
.legend__td--extended {
  @extend .td-skin;
  @extend .extended-skin;
}

.keys {
}
.keys__table {
  @extend .table-skin;
  table-layout: fixed;
  width: 100%;
  min-width: 900px;
}
.keys__table-header {
  & th {
    @extend .td-skin;
    background-color: var(--app-primary-color);
    color: var(--app-secondary-color);
  }
}
.keys__td {
  @extend .td-skin;
  vertical-align: top;
}
.keys__td--operator {
  @extend .keys__td;
  @extend .operator-skin;
}
.keys__td--motion {
  @extend .keys__td;
  @extend .motion-skin;
}
.keys__td--command {
  @extend .keys__td;
  @extend .command-skin;
}
.keys__td--extended {
  @extend .keys__td;
  @extend .extended-skin;
}
.keys__td--unused {
  @extend .keys__td;
  @extend .unused-skin;
}
.keys__td-pretty-display {
  font-weight: bold;
  font-size: 1.2em;
}

.special-icon {
  color: #4285f4;
  --paper-tooltip: {
    font-size: 1em;
  }
  --paper-tooltip-delay-in: 500;
  --paper-tooltip-delay-out: 500;
  --paper-tooltip-duration-in: 500;
  --paper-tooltip-duration-out: 500;
}
