:host {
  --app-primary-color: #006598;
  --app-secondary-color: #fff;
}

.title {
  color: var(--app-secondary-color);
  background-color: var(--app-primary-color);
  padding: 1rem;
  font-size: 1.5rem;
}
.title__img {
  width: 80px;
  vertical-align: -10px;
  display: inline-block;
}

.modes-list {
  margin-left: 2rem;
}

.modes-list a {
  display: inline-block;
  padding-right: 1rem;
  padding-top: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: normal;
}

.modes-list a.iron-selected {
  font-weight: bold;
  text-decoration: underline;
  color: var(--app-primary-color);
}
